.actor-details-container {
  padding: 20px;
  background-color: #333;
  color: white;
}

.actor-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actor-details-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.actor-details-nav a {
  color: goldenrod;
  text-decoration: none;
  font-weight: bold;
}

.actor-details-nav a:hover {
  text-decoration: underline;
  color: black;
}

.actor-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.actor-photo {
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.actor-info {
  max-width: 600px;
}

.actor-biography {
  margin: 20px 0;
}

.actor-meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actor-section {
  width: 100%;
}

.known-for-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: goldenrod;
  transition: transform 0.3s ease;
}

.known-for-card:hover {
  transform: scale(1.1);
}

.known-for-card img {
  width: 185px;
  height: auto;
  border-radius: 10px;
}

.no-image {
  width: 185px;
  height: 278px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  color: black;
  border-radius: 10px;
}

.known-for-info {
  text-align: center;
  margin-top: 10px;
}

.known-for-title {
  font-size: 16px;
  font-weight: bold;
}
