.movie-details-container {
  padding: 20px;
  background-color: #333;
  color: goldenrod;
}

.movie-details {
  max-width: 1200px;
  margin: 0 auto;
}

.movie-details-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.movie-details-nav a {
  color: goldenrod;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
}

.movie-details-nav a:hover {
  text-decoration: underline;
}

.movie-header {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.movie-poster {
  width: 350px;
  border-radius: 20px;
}

.movie-info {
  flex: 1;
}

.movie-meta,
.movie-crew,
.movie-overview {
  margin-bottom: 10px;
}

.movie-actions {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.action-button,
.trailer-button {
  background: goldenrod;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-button:hover,
.trailer-button:hover {
  background: black;
  color: goldenRod;
}

.movie-links a {
  color: white;
  text-decoration: underline;
}

.movie-links a:hover {
  text-decoration: none;
  color: black;
}

.movie-section {
  margin-bottom: 20px;
}

/* .castSection {
  margin-top: 20px;
} */

.cast-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.actor-card {
  background-color: black; /* Match the background color of the movie cards */
  border: 2px solid goldenrod; /* Match the border style */
  border-radius: 20px; /* Match the border radius */
  overflow: hidden;
  width: 150px; /* Adjust width as needed */
  text-align: center;
  color: white; /* Match text color */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.actor-card img {
  width: 100%;
  display: block;
  border-bottom: 2px solid goldenrod; /* Match the border style */
}

.actor-card .actor-info {
  padding: 10px; /* Match padding */
  font-size: 14px;
}

.actor-card:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.actor-card img {
  width: 100%;
  display: block;
}

.actor-info {
  padding: 10px;
  text-align: center;
}

.actor-name,
.actor-character {
  color: goldenrod;
  margin: 0;
  font-size: 14px;
}
