.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px 30px;
  color: var(--primary-color);
}

/* Logo image */
.logo img {
  width: 50px;
}

/* Navbar links */
.navbar a {
  color: #fff;
  text-decoration: none;
}

/* Search form */
.navbar form {
  display: flex;
  justify-content: center;
  flex: 1;
}

/* Search input and button */
.navbar input,
.navbar button {
  padding: 10px;
  margin-left: 5px;
}

/* Search button */
.navbar button {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

/* Hamburger icon */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

/* Hamburger icon lines */
.hamburger div {
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
}

/* Hamburger menu */
.hamburger-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: var(--secondary-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
}

/* Active hamburger menu */
.hamburger-menu.active {
  display: flex;
}

/* Links in the hamburger menu */
.hamburger-menu a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px 0;
  font-weight: bold;
}

/* Hover effect for links in the hamburger menu */
.hamburger-menu a:hover {
  color: #fff;
}

/* User info container */
.user-info {
  display: flex;
  align-items: center;
}

/* User profile image */
.user-info img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Navigation links */
.nav-links {
  display: flex;
  align-items: center;
}

/* Navigation links spacing */
.nav-links a {
  margin: 0 10px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }
}
