.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px; /* Increased padding */
}

.logo img {
  width: 80px; /* Increased width */
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar form {
  display: flex;
}

.navbar input,
.navbar button {
  padding: 10px; /* Increased padding */
  margin-left: 5px;
}

.navbar button {
  background-color: #555;
  border: none;
  color: white;
  cursor: pointer;
}

.google-login-container {
  display: flex;
  align-items: center;
}
